<!DOCTYPE html>
html
  head
    title random gifs list
    meta(charset="utf-8")
    link(rel="stylesheet" href="styles.css")
  body
    h2 Gifs:
      div(class='gif-list')
       each gif in gifs
         img.gif-img(src=gif alt='gif')